#!/sbin/runscript
# Copyright 1999-2011 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: $

depend() {
	after alsasound
}

start() {
	ebegin "Starting ${SVCNAME}"
	start-stop-daemon --start --background --make-pidfile --pidfile /var/run/gizmod.pid \
		--exec /usr/bin/gizmod -- ${GIZMOD_OPTS}
	eend $?
}

stop() {
	ebegin "Stopping ${SVCNAME}"
	start-stop-daemon --stop --pidfile /var/run/gizmod.pid
	eend $?
}
